<% if user_signed_in? %>
<div class="search_form">
  <div class="text-center">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['User'], ['Post']]) %>
      <%= f.select :search, options_for_select([["Perfect","perfect_match"], ["Forward","forward_match"],  ["Backward","backward_match"], ["Partial","partial_match"]]) %>
      <%= f.submit "Search", class: "btn-sm btn-primary" %>
    <% end %>
  </div>
</div>
<% end %>